doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Tessadith Dragh
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,900')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js', integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==', crossorigin='')
    link(rel='stylesheet', href='/app.css')

  body
    header(id='banner')
      .intro
        h1.title bienvenue
        

    div(id='main')
      section
        h2 Moi, c'est Tessadith
        p Designer, belge, brodeuse à ses temps perdus, basée à Paris et à la recherche d'une opportunité.
        p J'aime créer des projets avec une équipe où chacun apporte ses connaissances et expériences.
    

      section.border
        h2 Projets
        figure.project
          a.ajax-popup-link(href="/projects/notify.html")
            figcaption
              h3 notify
            .thumb
              img(src="images/notify-thumb.png")
        figure.project
          a.ajax-popup-link(href="/projects/rogergallet.html")
            figcaption
              h3 Roger &amp; Gallet
            .thumb
              img(src="images/rogergallet-thumb.png")
        figure.project
          a.ajax-popup-link(href="/projects/bareminerals.html")
            figcaption
              h3 bareMinerals
            .thumb
              img(src="images/bareminerals-thumb.png")
        figure.project
          a.ajax-popup-link(href="/projects/lancome.html")
            figcaption
              h3 Lancôme
            .thumb
              img(src="images/lancome-thumb.png")
        figure.project
          a.ajax-popup-link(href="/projects/bonne-maman.html")
            figcaption
              h3 Bonne Maman
            .thumb
              img(src="images/bonnemaman-thumb.png")
        figure.project
          a.ajax-popup-link(href="/projects/carrefour.html")
            figcaption
              h3 Carrefour
            .thumb
              img(src="images/carrefour-thumb.png")
        figure.project
          a.ajax-popup-link(href="/projects/conseiller.html")
            figcaption
              h3 Rendez-vous
            .thumb
              img(src="images/conseiller_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/fdl.html")
            figcaption
              h3 Fête des Lumières
            .thumb
              img(src="images/fdl_thumb.jpg")
        //- figure.project
        //-   a.ajax-popup-link(href="/projects/floral.html")
        //-     figcaption
        //-       h3 Parc floral de Paris
        //-     .thumb
        //-       img(src="images/floral_thumb.jpg")
        //- figure.project
          a.ajax-popup-link(href="/projects/gatsby.html")
            figcaption
              h3 Gatsby - UI kit
            .thumb
              img(src="images/gatsby_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/retraite.html")
            figcaption
              h3 Retraite
            .thumb
              img(src="images/retraite_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/illustrations.html")
            figcaption
              h3 Illustrations
            .thumb
              img(src="images/illustrations_thumb.jpg")
        figure.project
          a.ajax-popup-link(href="/projects/broderie.html")
            figcaption
              h3 Broderies
            .thumb
              img(src="images/broderie-thumb.png")
      section.border
        h2 Me contacter
        form#signup-form(action='http://formspree.io/draghtessadith@gmail.com', method='post')
          .form-row
            input.floating-placeholder(name='name', type='text', placeholder='Nom', required='')
          .form-row
            input.floating-placeholder(name='email', type='email', placeholder='Email', required='')
          .form-row
            input#message.floating-placeholder(name='message', placeholder='Message', required='')
          input(type='text', name="_gotcha", style="display:none")
          input.button(type='submit', value='Send message')
        #map

    footer#footer
      ul.icons
        li
          a.fa.fa-linkedin(href='https://www.linkedin.com/in/tessadithdragh/', target="_blank")

        .copyright
          p Tessadith Dragh - 2020
    script(src='/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js')
