.project-detail
  .image
    h1 Bareminerals
    p Projet client 2019 - non retenu
    img(src="images/bareminerals/bareminerals_01.jpg")
    img(src="images/bareminerals/bareminerals_02.gif")
    img(src="images/bareminerals/bareminerals_03.jpg")
    
