.project-detail
  .image
    h1 Rendez-vous
    p Application créée pour rendre l'accueil des rendez-vous plus rapide et autonome pour les entreprises. Projet 2017
    img(src="images/projet-conseiller.jpg")
