.project-detail
  .image
    h1 Parc floral de Paris
    p Refonte du site web du parc floral de Paris, jugé obsolète afin de donner une meilleure idée des activités du parc et de l'adapter à une cible vaste.
    img(src="images/projet-parc_floral.jpg")
