.project-detail
  .image
    h1 Lancôme
    p Projet client 2018
    img(src="images/lancome/lancome_01.jpg")
    img(src="images/lancome/lancome_02.gif")
    img(src="images/lancome/lancome_03.jpg")
