.project-detail
  .image
    h1 Roger  Gallet
    p Projet client 2018
    img(src="images/rogergallet/rogergallet_01.jpg")
    img(src="images/rogergallet/rogergallet_02.gif")
    img(src="images/rogergallet/rogergallet_03.jpg")
